<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel="icon" href="<%= BASE_URL %>favicon.ico">
    <title>The Vulgar Muse Infuses Whose </title>
	  <link href="../src/sass/main.scss" rel="stylesheet">

    <link href="https://fonts.googleapis.com/css?family=News+Cycle" rel="stylesheet">

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <link
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css" rel="stylesheet">

    <link rel='stylesheet prefetch' href='https://unpkg.com/muse-ui/dist/muse-ui.css'>

    <style>

      body, html {
        font-family: 'News Cycle', sans-serif !important;
        font-weight: 300 !important;
        font-style: normal !important;
      }

      h1, h2, h3, h4, h5, h6 {
        font-family: 'News Cycle', sans-serif !important;
        font-weight: 300 !important;
        font-style: normal !important;
      }

      .material-icons, .fas {
        vertical-align: middle;
      }

      .dignity {
        font-family: 'News Cycle', sans-serif !important;
        font-weight: 300 !important;
      }
      i {
        vertical-align: middle;
      }

    </style>
  </head>
  <body>

    <div id="app"></div>
    <!-- built files will be auto injected -->

      <!-- <script src="https://unpkg.com/vue-router/dist/vue-router.js"></script> -->

      <script src="https://unpkg.com/muse-ui/dist/muse-ui.js"></script>

  </body>
</html>
