<template lang="pug">
.hello
	img(alt='Vue logo' src='../assets/img/biohazard.svg' width='200px')
	h1 San Pavlov City Lights
	h2 Adeus Mundo Immundo
	mu-button(color='#607d8b') Imprints
	mu-button(color='#6599cc') Offprints

</template>

<script>
export default {
	name: 'HelloWorld',
	props: {
		msg: String
	}
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
h3 {
	margin: 40px 0 0;
}
ul {
	list-style-type: none;
	padding: 0;
}
li {
	display: inline-block;
	margin: 0 10px;
}
a {
	color: #42b983;
}
</style>
