<template lang="pug">
#app
	mu-appbar(style='width: 100%;' color='#607d8b')
		mu-button(icon slot='left')
			mu-icon(value='menu') 
		span(style="float: left;") 
			i.fas.fa-sun.fa-2x
			| &nbsp; Engenho Novo LLC
		mu-menu(slot='right')
			mu-button(flat) O Cardápio
			mu-list(slot='content')
				mu-list-item(button)
					mu-list-item-content
						mu-list-item-title Comidas
				mu-list-item(button)
					mu-list-item-content
						mu-list-item-title Carnes

				mu-list-item(button)
					mu-list-item-content
						mu-list-item-title Porcos
				mu-list-item(button)
					mu-list-item-content
						mu-list-item-title Bois Bumbá
				mu-list-item(button)
					mu-list-item-content
						mu-list-item-title Cabras
				mu-list-item(button)
					mu-list-item-content
						mu-list-item-title Antropofagismo
				mu-list-item(button)
					mu-list-item-content
						mu-list-item-title Aves de Capoeira
				mu-divider
				mu-list-item(button)
					mu-list-item-content
						mu-list-item-title Bebidas
				mu-list-item(button)
					mu-list-item-content
						mu-list-item-title Vinhos
				mu-list-item(button)
					mu-list-item-content
						mu-list-item-title Destilhados
				mu-list-item(button)
					mu-list-item-content
						mu-list-item-title Cervejas
	.containment

		HelloWorld

</template>

<script>
import HelloWorld from './components/HelloWorld.vue'

export default {
	name: 'app',
	components: {
		HelloWorld
	}
}
</script>

<style>
#app {
	font-family: 'News Cycle', Helvetica, Arial, sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	text-align: center;
	color: #607d8b;
}

.containment {
	min-height: calc(100vh - 50px);
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
</style>
